@{
    ViewData["Title"] = "Home Page";
}
<div>
    <br/>
    <p>Os usuarios estão cadastrados no firebase (apesar de não ter CRUD de usuarios)</p>
    <p> O site do developers da marvel estava terrivel e não conseguir pegar uma API KEY, dava erro interno todo hora,
    então criei um mock service so para conseguir ver os dados. Tambem crei um service com base da documentação do site 
    (uma hora abriu) mas não to usando ja que não tenho apikey, mas seria so trocar a injenção, apesar que duvido que 
    funcione de primeira  :P</p>
    <p> o log de pesquisas tambem esta no firebase, eu faço umas chamadas rest para o CRUD usando o SearchHistoryService </p>
</div>
